In [1]:
import numpy as np
import pandas as pd

In [13]:
df_t = pd.read_csv('centerArea_climate.csv')
df_avg_electricity = pd.read_csv('avg_electricity.csv')

In [21]:
df = pd.merge(df_t, df_avg_electricity, left_on=['TOWNNAME', 'VILLNAME'], right_on=['鄉鎮名稱', '村里名稱'],how='left')

In [31]:
year = 11
col_list = [f"人均用電量_20{year}"]
print(f"人均用電量_20{year}")
for a in range(24):
    # print(f'T_{year}_{a}')
    col_list.append(f'T_{year}_{a}')
df_temp = df[col_list]
df_temp

人均用電量_2011

,人均用電量_2011,T_11_0,T_11_1,T_11_2,T_11_3,T_11_4,T_11_5,T_11_6,T_11_7,T_11_8,...,T_11_14,T_11_15,T_11_16,T_11_17,T_11_18,T_11_19,T_11_20,T_11_21,T_11_22,T_11_23
0,0.099047,21.989281,21.925129,21.790445,21.491694,21.234727,21.078637,23.073860,30.512575,38.414152,...,41.705388,40.595344,37.810254,32.178040,26.539018,23.246579,22.636546,22.443943,22.287733,22.061738
1,336.427411,23.825289,23.660656,23.420248,23.075383,22.888945,22.703410,24.137984,30.638614,38.561322,...,41.301256,40.425299,37.759884,32.685725,27.283603,24.828535,24.406412,24.337232,24.149549,23.921234
2,692.309371,24.719912,24.655055,24.436020,24.259854,24.198448,24.021274,25.505272,31.056344,37.843460,...,42.850553,41.698433,38.019009,34.035492,28.400548,25.628215,25.303884,25.166097,24.990224,24.935165
3,NaN,24.695976,24.499737,24.234345,23.834061,23.732542,23.757636,25.305693,31.338896,39.071423,...,42.899782,42.181695,38.178693,33.627624,28.331704,25.609435,25.303579,25.164125,24.995678,24.823855
4,160.998694,24.590892,24.508924,24.327060,24.105594,24.070566,23.928265,25.376942,31.220319,37.953279,...,42.128756,41.541220,39.763281,33.527913,28.059861,25.463448,25.163094,25.032978,24.854471,24.776043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.006623,24.496612,24.404553,24.204977,23.954538,23.852716,23.751841,25.254291,31.535701,38.621154,...,41.925331,40.906839,38.239536,33.004660,28.100686,25.438038,25.073850,24.982219,24.828229,24.706148
196,NaN,24.590892,24.508924,24.327060,24.105594,24.070566,23.928265,25.376942,31.220319,37.953279,...,42.128756,41.541220,39.763281,33.527913,28.059861,25.463448,25.163094,25.032978,24.854471,24.776043
197,0.078684,24.730858,24.614007,24.350478,24.017141,23.921727,23.817707,25.388998,31.031722,38.329809,...,42.619350,42.131156,38.760617,33.801024,28.414594,25.570891,25.268432,25.163484,24.983573,24.907912
198,482.284782,24.590892,24.508924,24.327060,24.105594,24.070566,23.928265,25.376942,31.220319,37.953279,...,42.128756,41.541220,39.763281,33.527913,28.059861,25.463448,25.163094,25.032978,24.854471,24.776043
199,0.013650,24.537975,24.434186,24.185029,23.829403,23.722961,23.597528,25.082175,31.111500,38.814654,...,41.848042,41.306521,38.324556,33.338484,27.915660,25.374153,25.082954,24.970854,24.801432,24.679952

In [24]:
for a in df.columns:
    print(a)

VILLCODE
COUNTYNAME
TOWNNAME
VILLNAME
VILLENG
COUNTYID
COUNTYCODE
TOWNID
TOWNCODE
NOTE
lon
lat
T_11_0
T_11_1
T_11_2
T_11_3
T_11_4
T_11_5
T_11_6
T_11_7
T_11_8
T_11_9
T_11_10
T_11_11
T_11_12
T_11_13
T_11_14
T_11_15
T_11_16
T_11_17
T_11_18
T_11_19
T_11_20
T_11_21
T_11_22
T_11_23
T_12_0
T_12_1
T_12_2
T_12_3
T_12_4
T_12_5
T_12_6
T_12_7
T_12_8
T_12_9
T_12_10
T_12_11
T_12_12
T_12_13
T_12_14
T_12_15
T_12_16
T_12_17
T_12_18
T_12_19
T_12_20
T_12_21
T_12_22
T_12_23
T_13_0
T_13_1
T_13_2
T_13_3
T_13_4
T_13_5
T_13_6
T_13_7
T_13_8
T_13_9
T_13_10
T_13_11
T_13_12
T_13_13
T_13_14
T_13_15
T_13_16
T_13_17
T_13_18
T_13_19
T_13_20
T_13_21
T_13_22
T_13_23
T_14_0
T_14_1
T_14_2
T_14_3
T_14_4
T_14_5
T_14_6
T_14_7
T_14_8
T_14_9
T_14_10
T_14_11
T_14_12
T_14_13
T_14_14
T_14_15
T_14_16
T_14_17
T_14_18
T_14_19
T_14_20
T_14_21
T_14_22
T_14_23
n
distance
feature_x
feature_y
nearest_x
nearest_y
VILLCODE.1
COUNTYNAME.1
TOWNNAME.1
VILLNAME.1
VILLENG.1
COUNTYID.1
COUNTYCODE.1
TOWNID.1
TOWNCODE.1
NOTE.1
lon.1
lat.1
T_11_0.1
T_11_1.1
T_11_2.1
T_11_3.1
T_11_4.1
T_11_5.1
T_11_6.1
T_11_7.1
T_11_8.1
T_11_9.1
T_11_10.1
T_11_11.1
T_11_12.1
T_11_13.1
T_11_14.1
T_11_15.1
T_11_16.1
T_11_17.1
T_11_18.1
T_11_19.1
T_11_20.1
T_11_21.1
T_11_22.1
T_11_23.1
T_12_0.1
T_12_1.1
T_12_2.1
T_12_3.1
T_12_4.1
T_12_5.1
T_12_6.1
T_12_7.1
T_12_8.1
T_12_9.1
T_12_10.1
T_12_11.1
T_12_12.1
T_12_13.1
T_12_14.1
T_12_15.1
T_12_16.1
T_12_17.1
T_12_18.1
T_12_19.1
T_12_20.1
T_12_21.1
T_12_22.1
T_12_23.1
T_13_0.1
T_13_1.1
T_13_2.1
T_13_3.1
T_13_4.1
T_13_5.1
T_13_6.1
T_13_7.1
T_13_8.1
T_13_9.1
T_13_10.1
T_13_11.1
T_13_12.1
T_13_13.1
T_13_14.1
T_13_15.1
T_13_16.1
T_13_17.1
T_13_18.1
T_13_19.1
T_13_20.1
T_13_21.1
T_13_22.1
T_13_23.1
T_14_0.1
T_14_1.1
T_14_2.1
T_14_3.1
T_14_4.1
T_14_5.1
T_14_6.1
T_14_7.1
T_14_8.1
T_14_9.1
T_14_10.1
T_14_11.1
T_14_12.1
T_14_13.1
T_14_14.1
T_14_15.1
T_14_16.1
T_14_17.1
T_14_18.1
T_14_19.1
T_14_20.1
T_14_21.1
T_14_22.1
T_14_23.1
n.1
distance.1
feature_x.1
feature_y.1
nearest_x.1
nearest_y.1
Unnamed: 0
鄉鎮名稱
村里名稱
用電量_2011
用電量_2012
用電量_2013
用電量_2014
population_2011
population_2012
population_2013
population_2014
population_2015
人均用電量_2011
人均用電量_2012
人均用電量_2013
人均用電量_2014

In [16]:
taipei_center = ['松山區','信義區','大安區','中山區','中正區']

In [17]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

NameError: name 'x' is not defined

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

In [22]:
df.to_csv("temp.csv")