In [2]:
import numpy as np
import pandas as pd

In [3]:
df2011 = pd.read_csv("2011_climate.csv")
df2012 = pd.read_csv("2012_climate.csv")
df2013 = pd.read_csv("2013_climate.csv")
df2014 = pd.read_csv("2014_climate.csv")

In [4]:
df2011

,south_north,west_east,Time,xlat,xlon,Times,Ta2,RH2,VP2,WS_1,SW_down,time_hour,dayofyear,T_mrt,PET_v,mPET_v,WBGT
0,0,0,0,24.963715,121.430600,2011-07-15 00:00:00,27.067047,76.890520,27.465120,0.606340,0.0,0,196,18.408254,22.836047,23.176047,30.080808
1,0,0,1,24.963715,121.430600,2011-07-15 01:00:00,26.890350,76.683975,27.109423,0.653381,0.0,1,196,18.259127,22.689350,22.929350,29.840832
2,0,0,2,24.963715,121.430600,2011-07-15 02:00:00,26.715210,76.394905,26.731327,0.756046,0.0,2,196,18.135610,22.284210,22.624210,29.592936
3,0,0,3,24.963715,121.430600,2011-07-15 03:00:00,26.529785,76.223980,26.382740,0.826740,0.0,3,196,17.985163,22.048785,22.338785,29.350805
4,0,0,4,24.963715,121.430600,2011-07-15 04:00:00,26.356262,76.407970,26.177998,0.732700,0.0,4,196,17.775268,21.925262,22.225262,29.171954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3427,12,10,19,25.187866,121.635376,2011-07-15 19:00:00,25.790314,89.643300,29.704659,0.466727,0.0,19,196,17.120342,21.689314,22.299314,30.237039
3428,12,10,20,25.187866,121.635376,2011-07-15 20:00:00,25.559418,89.220710,29.163668,0.828228,0.0,20,196,17.070334,20.948418,21.598418,29.893511
3429,12,10,21,25.187866,121.635376,2011-07-15 21:00:00,25.403198,88.761020,28.746214,0.921815,0.0,21,196,16.955804,20.712198,21.302198,29.640875
3430,12,10,22,25.187866,121.635376,2011-07-15 22:00:00,25.301758,88.542680,28.503569,0.899761,0.0,22,196,16.848236,20.620758,21.190758,29.487999
3431,12,10,23,25.187866,121.635376,2011-07-15 23:00:00,25.203644,87.801280,28.100840,1.059481,0.0,23,196,16.811417,20.382644,20.882644,29.274096